.col-1 {
    flex: 1 0 4.16666666667%;
    max-width: 4.16666666667%;
}

.col-2 {
    flex: 1 0 8.3333333%;
    max-width: 8.3333333%;
}

.col-3 {
    flex: 1 0 12.5%;
    max-width: 12.5%;
}

.col-4 {
    flex: 1 0 16.6666666667%;
    max-width: 16.6666666667%;
}

.col-5 {
    flex: 1 0 20.8333333333%;
    max-width: 20.8333333333%;
}

.col-6 {
    flex: 1 0 25%;
    max-width: 25%;
}

.col-7 {
    flex: 1 0 29.1666666667%;
    max-width: 29.1666666667%;
}

.col-8 {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.col-9 {
    flex: 1 0 37.5%;
    max-width: 37.5%;
}

.col-10 {
    flex: 1 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.col-11 {
    flex: 1 0 45.8333333333%;
    max-width: 45.8333333333%;
}

.col-12 {
    flex: 1 0 50%;
    max-width: 50%;
}

.col-13 {
    flex: 1 0 54.1666666667%;
    max-width: 54.1666666667%;
}

.col-14 {
    flex: 1 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.col-15 {
    flex: 1 0 62.5%;
    max-width: 62.5%;
}

.col-16 {
    flex: 1 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.col-17 {
    flex: 1 0 70.8333333333%;
    max-width: 70.8333333333%;
}

.col-18 {
    flex: 1 0 75%;
    max-width: 75%;
}

.col-19 {
    flex: 1 0 79.1666666667%;
    max-width: 79.1666666667%;
}

.col-20 {
    flex: 1 0 83.3333333333%;
    max-width: 83.3333333333%;
}

.col-21 {
    flex: 1 0 87.5%;
    max-width: 87.5%;
}

.col-22 {
    flex: 1 0 91.6666666667%;
    max-width: 91.6666666667%;
}

.col-23 {
    flex: 1 0 95.8333333333%;
    max-width: 95.8333333333%;
}

.col-24 {
    flex: 1 0 100%;
    max-width: 100%;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .col-xs-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-xs-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-xs-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-xs-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-xs-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-xs-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-xs-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-xs-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-xs-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-xs-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-xs-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-xs-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-xs-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-xs-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-xs-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-xs-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-xs-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-xs-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-xs-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-xs-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-xs-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-xs-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-xs-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-xs-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 576px) {
    .col-sm-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-sm-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-sm-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-sm-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-sm-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-sm-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-sm-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-sm-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-sm-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-sm-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-sm-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-sm-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-sm-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-sm-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-sm-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-sm-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-sm-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-sm-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-sm-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-sm-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-sm-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-sm-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-sm-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-sm-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 768px) {
    .col-md-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-md-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-md-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-md-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-md-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-md-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-md-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-md-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-md-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-md-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-md-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-md-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-md-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-md-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-md-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-md-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-md-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-md-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-md-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-md-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-md-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-md-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-md-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-md-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 992px) {
    .col-lg-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-lg-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-lg-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-lg-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-lg-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-lg-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-lg-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-lg-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-lg-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-lg-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-lg-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-lg-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-lg-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-lg-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-lg-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-lg-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-lg-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-lg-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-lg-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-lg-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-lg-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-lg-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-lg-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-lg-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1200px) {
    .col-xl-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-xl-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-xl-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-xl-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-xl-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-xl-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-xl-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-xl-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-xl-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-xl-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-xl-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-xl-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-xl-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-xl-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-xl-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-xl-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-xl-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-xl-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-xl-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-xl-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-xl-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-xl-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-xl-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-xl-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .col-xxl-1 {
        flex: 1 0 4.16666666667%;
        max-width: 4.16666666667%;
    }

    .col-xxl-2 {
        flex: 1 0 8.3333333%;
        max-width: 8.3333333%;
    }

    .col-xxl-3 {
        flex: 1 0 12.5%;
        max-width: 12.5%;
    }

    .col-xxl-4 {
        flex: 1 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-xxl-5 {
        flex: 1 0 20.8333333333%;
        max-width: 20.8333333333%;
    }

    .col-xxl-6 {
        flex: 1 0 25%;
        max-width: 25%;
    }

    .col-xxl-7 {
        flex: 1 0 29.1666666667%;
        max-width: 29.1666666667%;
    }

    .col-xxl-8 {
        flex: 1 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-xxl-9 {
        flex: 1 0 37.5%;
        max-width: 37.5%;
    }

    .col-xxl-10 {
        flex: 1 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-xxl-11 {
        flex: 1 0 45.8333333333%;
        max-width: 45.8333333333%;
    }

    .col-xxl-12 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .col-xxl-13 {
        flex: 1 0 54.1666666667%;
        max-width: 54.1666666667%;
    }

    .col-xxl-14 {
        flex: 1 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-xxl-15 {
        flex: 1 0 62.5%;
        max-width: 62.5%;
    }

    .col-xxl-16 {
        flex: 1 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-xxl-17 {
        flex: 1 0 70.8333333333%;
        max-width: 70.8333333333%;
    }

    .col-xxl-18 {
        flex: 1 0 75%;
        max-width: 75%;
    }

    .col-xxl-19 {
        flex: 1 0 79.1666666667%;
        max-width: 79.1666666667%;
    }

    .col-xxl-20 {
        flex: 1 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-xxl-21 {
        flex: 1 0 87.5%;
        max-width: 87.5%;
    }

    .col-xxl-22 {
        flex: 1 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-xxl-23 {
        flex: 1 0 95.8333333333%;
        max-width: 95.8333333333%;
    }

    .col-xxl-24 {
        flex: 1 0 100%;
        max-width: 100%;
    }
}