@import url('./config.css');
@import url('./typography.css');
@import url('./color.css');
@import url('./grid.css');

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-transform-lowercase {
    text-transform: lowercase;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

.image-fluid {
    width: 100%;
    object-fit: cover;
}

.border-bottom {
    border-bottom: 0.1rem solid var(--neutral-color-20);
}

.bg-transparent {
    background-color: transparent;
}

.box-shadow {
    box-shadow: 0 0.4rem 2.8rem -0.2rem rgba(0, 0, 0, 0.08);
}

/*----------------- margin ----------------*/
.mt-0 {
    margin-top: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mt-1 {
    margin-top: 0.8rem;
}

.mr-1 {
    margin-right: 0.8rem;
}

.mb-1 {
    margin-bottom: 0.8rem;
}

.ml-1 {
    margin-left: 0.8rem;
}

.mt-2 {
    margin-top: 1.6rem;
}

.mr-2 {
    margin-right: 1.6rem;
}

.mb-2 {
    margin-bottom: 1.6rem;
}

.ml-2 {
    margin-left: 1.6rem;
}

.mt-3 {
    margin-top: 2.4rem;
}

.mr-3 {
    margin-right: 2.4rem;
}

.mb-3 {
    margin-bottom: 2.4rem;
}

.ml-3 {
    margin-left: 2.4rem;
}

.mt-4 {
    margin-top: 3.6rem;
}

.mr-4 {
    margin-right: 3.6rem;
}

.mb-4 {
    margin-bottom: 3.6rem;
}

.ml-4 {
    margin-left: 3.6rem;
}

.mt-5 {
    margin-top: 4.2rem;
}

.mr-5 {
    margin-right: 4.2rem;
}

.mb-5 {
    margin-bottom: 4.2rem;
}

.ml-5 {
    margin-left: 4.2rem;
}

.mt-6 {
    margin-top: 6.0rem;
}

.mr-6 {
    margin-right: 6.0rem;
}

.mb-6 {
    margin-bottom: 6.0rem;
}

.ml-6 {
    margin-left: 6.0rem;
}

/* ----------- display ------------ */
.display-flex {
    display: flex;
}